## Build an API with two different models

Linear Regression
Classification

In [22]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Use the pumpkin data from Lesso

pumpkins = pd.read_csv('../../../Regression/data/US-pumpkins.csv')

pumpkins.head()

,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,Mostly Low,...,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode,Unnamed: 24,Unnamed: 25
0,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,4/29/17,270.0,280.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
1,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,5/6/17,270.0,280.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
2,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,9/24/16,160.0,160.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
3,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,9/24/16,160.0,160.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
4,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/5/16,90.0,100.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN

In [23]:
from sklearn.preprocessing import LabelEncoder

pumpkins = pumpkins[pumpkins['Package'].str.contains('bushel', case=True, regex=True)]

new_columns = ['Package', 'Low Price', 'High Price']

pumpkins = pumpkins.drop([c for c in pumpkins.columns if c not in new_columns], axis=1)

## price is the average of low and high prices

price = (pumpkins['Low Price'] + pumpkins['High Price']) / 2

new_pumpkins = pd.DataFrame({ 'Package': pumpkins['Package'], 'Low Price': pumpkins['Low Price'],'High Price': pumpkins['High Price'], 'Price': price})

new_pumpkins.loc[new_pumpkins['Package'].str.contains('1 1/9'), 'Price'] = price/1.1

new_pumpkins.loc[new_pumpkins['Package'].str.contains('1/2'), 'Price'] = price*2

new_pumpkins.iloc[:, 0:-1] = new_pumpkins.iloc[:, 0:-1].apply(LabelEncoder().fit_transform)

new_pumpkins.head()

    Package  Low Price  High Price      Price
70        0          5           3  13.636364
71        0         10           7  16.363636
72        0         10           7  16.363636
73        0          9           6  15.454545
74        0          5           3  13.636364

In [24]:

new_pumpkins.dropna(inplace=True)
new_pumpkins.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 415 entries, 70 to 1742
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Package     415 non-null    int64
 1   Low Price   415 non-null    int64
 2   High Price  415 non-null    int64
 3   Price       415 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 16.2 KB

In [25]:
new_columns = ['Package', 'Price']
lin_pumpkins = new_pumpkins.drop([c for c in new_pumpkins.columns if c not in new_columns], axis='columns')

lin_pumpkins

      Package      Price
70          0  13.636364
71          0  16.363636
72          0  16.363636
73          0  15.454545
74          0  13.636364
...       ...        ...
1738        2  30.000000
1739        2  28.750000
1740        2  25.750000
1741        2  24.000000
1742        2  24.000000

[415 rows x 2 columns]

Set X and y arrays to correspond to Package and Price

In [26]:
X = lin_pumpkins.values[:, :1]
y = lin_pumpkins.values[:, 1:2]

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)

pred = lin_reg.predict(X_test)

accuracy_score = lin_reg.score(X_train,y_train)
print('Model Accuracy: ', accuracy_score)

Model Accuracy:  0.3315342327998989

In [41]:
import pickle
s = pickle.dumps(lin_reg)
model_filename = 'lin-reg-model.pkl'
# Open the file to save as pkl file
pickle.dump(lin_reg, open(model_filename,'wb'))

model = pickle.load(open('lin-reg-model.pkl','rb'))
print(model.predict([[2.85]]))

# Close the pickle instances
# clf2 = pickle.loads(s)
# clf2.predict([[2.75]])

[[33.627655]]